<!--<form method="POST" action="">
{% for field in form.getFields %}
	{{ field.display()|raw }}<br/>
{% endfor %}
<br/><input type="submit" value="Envoyer"/>
</form>

{% for field in form.getErrorsMessages() %}
	{{ field.name }} : 
	{% for error in field.errors %}
		- {{ error }} <br/>
	{% endfor %}
{% endfor %}-->
<!--{{ message|raw }}

{% for data in datas %}
{{ data.name }}
{% endfor %}-->
Vue index
